[bot]
token=
name=
anchors=
messages=
purge_interval=43200.0
default_chance=5

[grammar]
end_sentence=.....!!?
all=.!?;()\-—"[]{}«»/*&^#$

[logging]
level=INFO

[links]
lifetime=28800.0
stickers=BQADAgADGwEAAjbsGwVVGLVNyOWfuwI

[redis]
host=
port=
db=

[db]
driver=
host=
database=
user=
password=
prefix=
log_queries=